<!--ion-navbar *navbar>
	<button menuToggle>
		<ion-icon name="menu"></ion-icon>
	</button>
	<ion-title>{{trainingSession.description}}</ion-title>
	<ion-buttons end>
		<button (click)="toggleShowSummary()" ion-button icon-only right>
			<ion-icon *ngIf="drillData.settings.showSummary" name="list-box" ></ion-icon>
			<ion-icon *ngIf="!drillData.settings.showSummary" name="list" ></ion-icon>
		</button>  
	</ion-buttons>
</ion-navbar-->
<ion-header #head>
  <ion-navbar>
    <ion-title>Oefeningen</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="outer-content drill-list" hide-header [header]="head">
	<ion-list *ngIf="!drillData.settings.showSummary">
		<ion-item-group  *ngFor="let group of groups; let groupIdx = index" >
			<ion-item-divider light>{{group.groupName}}</ion-item-divider>  
			<ion-item *ngFor="let drill of group.drills; let drillIdx = index" (click)="goToDrillDetails(drill, groupIdx, drillIdx)">
				<ion-thumbnail *ngIf="drill.imgUrl" item-left>
					<img  width="70px" [src]="drill.imgUrl">
					<!--img *ngIf="drill.imgUrl==''" style="opacity: 1" width="70px" [src]="drillData.defaultImg"-->
				</ion-thumbnail>
				<h2>{{drill.title}}</h2>
				<p>{{drill.description}}</p>
			</ion-item>
		</ion-item-group>    
	</ion-list>
	<ion-list *ngIf="drillData.settings.showSummary">
		<ion-item-group *ngFor="let group of groups" >
		<ion-item-divider light>{{group.groupName}}</ion-item-divider>  
			<ul>
			<li *ngFor="let drill of group.drills">{{drill.title}}</li>
			</ul>
		</ion-item-group>    
	</ion-list>  
</ion-content>
