<ion-navbar *navbar>
	<button menuToggle>
		<ion-icon name="menu"></ion-icon>
	</button>
	<ion-title>Mijn intervaltijden</ion-title>
</ion-navbar>
<ion-content>
	<ion-row>
		<ion-item>
	        <ion-label *ngIf="drillData.settings.setTenTime">10 km (of 5 km)</ion-label>
	        <ion-label *ngIf="!drillData.settings.setTenTime">5 km (of 10 km)</ion-label>
	        <ion-toggle [checked]="drillData.settings.setTenTime" (ionChange)="toggleFiveTenTime()"></ion-toggle>      
	      </ion-item> 
</ion-row>
<ion-row>	      
	      <ion-item><ion-label>Mijn tijd op deze afstand</ion-label>	
			<ion-select [(ngModel)]="selectedTime" (ionChange)="changeTimes()">
				<ion-option *ngFor="let dropDownInterval of dropDownIntervals" [value]="dropDownInterval">{{dropDownInterval}}</ion-option>
			</ion-select>
		</ion-item>
	</ion-row>

	<ion-list-header>
		<ion-row>
			<ion-col>Afst.</ion-col>
			<ion-col>5 km</ion-col>
			<ion-col>10 km</ion-col>
			<ion-col>21.1 km</ion-col>
			<ion-col>Int.</ion-col>
			<ion-col>Ext.</ion-col>
		</ion-row>
	</ion-list-header>
	<ion-row *ngFor="let item of drillData.timesPerDistance">
		<ion-col>{{item.distance}}</ion-col>
		<ion-col>{{item.timeFive}}</ion-col>
		<ion-col>{{item.timeTen}}</ion-col>
		<ion-col>{{item.timeHalf}}</ion-col>
		<ion-col>{{item.timeInt}}</ion-col>
		<ion-col>{{item.timeExt}}</ion-col>
	</ion-row>
<ion-row>
<ion-item>
<ion-range min="500" max="3000" [(ngModel)]="myRaceTime">
<ion-icon range-left small name="sunny"></ion-icon>
<ion-icon range-right name="sunny"></ion-icon>
</ion-range>
</ion-item>
</ion-row>
</ion-content>