<style>
.active {
	background-color: blue;
}
.timer-button {
	font-size: 8rem;
	height: 1.6em	;
}
.timer-button-small {
	font-size: 2rem;
	height: 1.1em;
	text-align: center;
}

</style>

<ion-navbar *navbar>
	<button menuToggle>
	<ion-icon name="menu"></ion-icon>
	</button>
	<ion-title>Intervallen</ion-title>
</ion-navbar>

<ion-content outer-content class="timer">

<ion-card *ngIf="timer">
<ion-card-header>
	<button (click)="resumeOrPauseTimer()" *ngIf="timeInSeconds && timeInSeconds > 0" large block clear class="timer-button">{{timer.displayTime}}</button>
	<div block clear class="timer-button-small">Interval:{{intervalDistance}} m | Totaal:{{totalIntervalDistance}} km</div>
	<button *ngIf="!timeInSeconds || timeInSeconds == 0" large block clear class="timer-button">-</button>
	<button *ngIf="intervalResult" style="background:#ffc966"> {{intervalResult}}	</button>	

</ion-card-header>
</ion-card>

<button large primary (click)="pauseTimer()" item-right *ngIf="timer.runTimer && timer.hasStarted && !timer.hasFinished" full>
	<ion-icon name="pause"></ion-icon>
	Pauze
</button>
<!--button large primary (click)="delayTimer(10)" item-right *ngIf="timer.runTimer && timer.hasStarted && !timer.hasFinished" outline full>
	<ion-icon name="plus"></ion-icon>
	+10
</button-->
<button large primary (click)="resumeTimer()" item-right *ngIf="!timer.runTimer && timer.hasStarted && !timer.hasFinished" full>
	<ion-icon name="play"></ion-icon>
	Hervatten
</button>
<button large primary (click)="startTimer(0)" item-right *ngIf="!timer.hasStarted" full>
	<ion-icon name="play"></ion-icon>
	Start
</button>
<button large (click)="initTimer()" item-left *ngIf="!timer.runTimer && (timer.hasStarted || timer.hasFinished) || timer.hasFinished" outline full>
	<ion-icon name="refresh"></ion-icon>
	Reset
</button>


<ion-list class="timer">
	<div *ngFor="let interval of intervals; let intIdx = index" (click)="setIntervalIdx(intIdx)">
		<ion-item *ngIf="interval.styleActive == 0" (click)="startTimer(intIdx)">
		  <div *ngIf="interval.distance" style="float:left;width:40%"> {{interval.distance}} meter</div>
		  <h2>{{interval.displayTime}} vlot  -  {{interval.displayTimeRest}} pauze</h2>
		</ion-item>
		<ion-item style="background:#9cf79c"*ngIf="interval.styleActive == 1" (click)="startTimer(intIdx)">
		  <div *ngIf="interval.distance" style="float:left;width:40%"> {{interval.distance}} meter</div>
		  <h2>{{interval.displayTime}} vlot  -  {{interval.displayTimeRest}} pauze</h2>
		</ion-item>
		<ion-item style="background:#ffc966" *ngIf="interval.styleActive == 2" (click)="startTimer(intIdx)">
		  <div *ngIf="interval.distance" style="float:left;width:40%"> {{interval.distance}} meter</div>
		  <h2>{{interval.displayTime}} vlot  -  {{interval.displayTimeRest}} pauze</h2>
		</ion-item>
	
	</div>
</ion-list>
</ion-content>