.squarebutton {
	width: 40% !important;
	height:0 !important;
	padding: 0 0 40% 0 !important;
	margin: 15px;
}

.squarebutton span {
	padding-top: 50%;
}

.pastelblue {
	background-color: $pastelblue;
}

.pastelgreen {
	background-color: $pastelgreen;
}

.pastelorange {
	background-color: $pastelorange;
}

.pastelred {
	background-color: $pastelred;
}

.pastelblush {
	background-color: $pastelblush;
}

.pastelfandango {
	background-color: $pastelfandango;
}

.pastelcafenoir {
	background-color: $pastelcafenoir;
}

