<ion-navbar *navbar>
	<ion-title>Details</ion-title>
</ion-navbar>
<ion-content padding class="drill-detail">
	<ion-slides  (swiperight)="swipeEvent(-1)" (swipeleft)="swipeEvent(1)" [options]="slideOptions">
		<ion-slide *ngFor="let drill of drills">
			<h3>{{drill.title}}</h3>
			<p [innerHTML]="drill.description"></p>
			<button *ngIf="drill.isHoofdprogramma" large (click)="goToTiming()" outline full>
			<ion-icon name="timing"></ion-icon>
			Timing
			</button>

			<button *ngIf="drill.videoUrl" (click)="goToYoutube(drill)" ion-button outline block>Youtube</button>
			<img (click)="goToYoutube(drill)" [src]="drill.imgUrls[0]" *ngIf="drill.imgUrls.length">
		</ion-slide>
	</ion-slides>

</ion-content>
