<ion-navbar *navbar>
	<ion-title>Details</ion-title>
</ion-navbar>
<ion-content padding class="drill-detail">
	<ion-slides  [options]="slideOptions" top>
		<ion-slide *ngFor="let drill of drills" top>
			<h2>{{drill.title}}</h2>
			<p>{{drill.description}}</p>
			<ion-slides *ngIf="drill.imgUrls.length" pager>
				<ion-slide *ngFor="let imageUrl of drill.imgUrls" [attr.data-index]="i">
					<img [src]="imageUrl">
				</ion-slide>
				<button *ngIf="drill.videoUrl" (click)="goToYoutube(drill)" ion-button outline>Youtube</button>
			</ion-slides>			
		</ion-slide>
	</ion-slides>
</ion-content>
