<ion-header #head>
  <ion-navbar>
    <ion-title>Oefening details</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="drill-detail">
		<ion-slides [initialSlide]="idx">
			<ion-slide *ngFor="let mydrill of drills">
				<h2>{{mydrill.title}}</h2>
				<hr/>
				<p [innerHTML]="mydrill.descriptionHtml"></p>
				<hr/>
				<video style="z-index:500; min-height: auto !important;  width: 100%; position: relative" *ngIf="mydrill.hasVideo && !mydrill.hasYoutubeVideo" controls class="video_content" [poster]="mydrill.imgUrl">
				<source [src]="mydrill.videoUrl" type='video/mp4' />
				</video>
			</ion-slide>
	  </ion-slides>
</ion-content>


